header {
    display: flex;
    justify-content: center;
}

.logo_header {
    width: 140px;
    height: auto;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.content {
    display: flex;
    justify-content: center;
    top: -100px;
    border-radius: 50px;
    position: relative;
}

.inner-content {
    font-size: 20px;
    text-align: center;
    position: relative;
}

.content {
    top: -40px;
}

.stroke {
    transform: rotate(-5deg);
    align-items: center;
}
.outer-stroke {
    display: flex;
    justify-content: center;
}
a {
    font-weight: bold;
    color: #a57f46;
    pointer-events: none;
}

footer {
    padding-top: 60px;
    text-align: center;
}
