.logo_header {
    width: 140px;
    height: auto;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.content {
    display: flex;
    justify-content: center;
    top: -100px;
    border-radius: 50px;
    position: relative;
}

.inner-content {
    font-size: 20px;
    text-align: center;
    position: relative;
}

.content {
    top: -40px;
}

.stroke {
    height: 330px;
    width: 277px;
    transform: rotate(-5deg);
    background-image: url("assets/icecream.png");
    background-repeat: no-repeat;
    overflow: clip;
    align-items: center;
}
.outer-stroke {
    padding-left: 83px;
    display: flex;
    justify-content: center;
}
a {
    font-weight: bold;
    color: #a57f46;
}

footer {
    padding-top: 60px;
    text-align: center;
}
